:root {
    --main-col: #fff;
    --hover-col: #b7eeee;
    --correct-col: #56e95d;
    --wrong-col: #ec4747;
    --text-col: rgb(81, 184, 184);
    --cursor: auto;
}
body {
    transition: .3s ease-in-out;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: 600;
}
.wrapper {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--text-col);
    gap: 50px;
    padding: 50px;
}
.row {
    display: flex;
    gap: 50px;
}
.row button {
    width: 70px;
    height: 70px;
    cursor: pointer;
    border: none;
    box-shadow: 5px 5px #ffffff4d;
    transition: .3s ease-in-out;
    border-radius: 10px;
    color: transparent;
}
.default {background: var(--main-col)}
.startBtn {
    height: 50px;
    width: 100px;
    border: none;
    cursor: var(--cursor);
    padding: 10px;
    border-radius: 50px;
    color: var(--text-col);
    background: var(--main-col);
    box-shadow: 5px 5px #ffffff4d;
    transition: .4s;
}
.startBtn.hovered {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: none
}
.amount {
    display: flex;
}
.amount button {
    border: none;
    padding: 10px;
    background: var(--text-col);
    color: var(--main-col);
    border-top: 3px solid var(--main-col);
    border-bottom: 3px solid var(--main-col);
    transition: .2s;
}
.amount button:hover {
    cursor: pointer;
    background-color: var(--main-col);
    color: var(--text-col);
}
.settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.amountHint {
    color: var(--main-col);
    text-align: center;
}
.startBtn:active {
    color: var(--main-col);
    background: var(--text-col);
    box-shadow: none;
}


@media(max-width: 767px) {
    .wrapper {
        gap: 40px;
    }
    .startBtn.hovered {
        color: var(--text-col);
        background: var(--main-col);
        box-shadow: 5px 5px #ffffff4d;
    }
    .startBtn {
        transition: .1s;
    }
}
